name: Run Proxy Collector

on:
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: pip install aiohttp aiohttp_socks maxminddb

      - name: Run script
        run: python script.py

      - name: Commit & Push
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"

          git add IN_*.TXT

          if git diff --cached --quiet; then
            echo "No changes"
          else
            git commit -m "Update proxy lists [skip ci]"
            git push
          fi
